<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>VBoxSrv</display-name>
  <welcome-file-list>
    <welcome-file>init</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Connect</display-name>
    <servlet-name>Connect</servlet-name>
    <servlet-class>com.servlets.Connect</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>CreateVM</display-name>
    <servlet-name>CreateVM</servlet-name>
    <servlet-class>com.servlets.CreateVM</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connect</servlet-name>
    <url-pattern>/connect</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateVM</servlet-name>
    <url-pattern>/createvm</url-pattern>
  </servlet-mapping>
</web-app>