#header {
        background-color:black;
        color:white;
        text-align:center;
        padding:5px;
    }

#section {
        padding:10px;
        }
#footer {
        background-color:black;
        color:white;
        clear:both;
        text-align:center;
        padding:5px;
        float: bottom;
        }
